/* Fonts */
@import url("font/poppins.css");
@import url("font/notosans.css");
@import url("font/comme.css");
@import url("font/nunito.css");

/* Misc */
@import url("generic/animations.css");
@import url("generic/nav.css");

:root {
    --a: #2da5d7;
    --b: #0658b2;
    --c: #2a3368;
    --d: #cae087;
    --e: #a8cd3b;
    --f: #bf57bf;
    --g: #9798b4;
    --h: #f3f4ee;
    --i: #d1d3c5;
    --j: #f5f5f3;
    --k: #191c1f;
    --l: #eae9e6;

    font-size: 1vw;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
    width: 100vw;
}