#title-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#title {
    font-family: "Comme";
    font-size: 3em;
    align-items: center;
    margin: 50px 0px;
}

#content {
    width: 100%;
    gap: 5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 5.2em;
}

#description {
    width: 50%;
    font-family: "Nunito";
    font-size: 1.2em;
    height: fit-content;
}

#cover {
    width: 30em;
}

@media (max-width: 900px) {
    #content {
        justify-content: space-between;
    }

    #description {
        margin-left: 50px;
    }

    #cover {
        width: 20em;
        margin-right: 50px;
    }
}

@media (max-width: 700px) {
    #content {
        flex-direction: column;
    }

    #description {
        margin-left: 0px;
        width: 80%;
    }

    #cover {
        width: 30em;
        margin-right: 0px;
    }
}

@media (max-width: 450px) {
    #title {
        font-size: 22px;
    }
}