#top-content {
    margin: 0px;
    padding: 0px;
    background-image: radial-gradient(var(--l) 1px, transparent 1px);
    background-size: 10px 10px;
    background-repeat: repeat;
}

#main {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
}

#us {
    margin: 7em 120px 4em 11em;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.us-text {
    width: fit-content;
    margin: 0px;
    font-family: "Poppins";
    background-color: var(--k);
    background-image: linear-gradient(170deg, var(--c) 15%, var(--b) 40%, var(--e) 100%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    filter: drop-shadow(0px 0.05em 4px #0000003d);
}

#renegade {
    font-size: 6em;
    font-weight: 600;
}

#definition {
    font-size: 1.5em;
    width: 30rem;
    margin-left: 6px;
}

#symbol {
    width: 40em;
    margin: auto 120px -18px 0px;
    flex-grow: 1;
}

#socials {
    position: absolute;
    bottom: 25px;
    right: 30px;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.social {
    color: var(--c);
    animation: pop-in ease 0.8s 1.2s forwards;
    transform: scale(0%, 0%);
    transition: color 0.3s;
    font-size: 3.5rem;
}

.social:hover,
.social:focus,
.social:active {
    color: var(--a);
}

@keyframes pop-in {
    50% {
        transform: scale(120%, 120%);
    }
    100% {
        transform: scale(100%, 100%);
    }
}

@media (max-width: 900px) {
    #main {
        flex-direction: column;
        font-size: 1.8rem;
    }

    #us {
        margin-left: auto;
        margin-right: auto;
        margin-top: 4em;
        margin-bottom: 60px;
    }

    #symbol {
        margin-left: auto;
        margin-right: auto;
        width: calc(500px - 8em);
        max-width: 70rem;
    }

    #definition {
        width: 60rem;
    }

    .social {
        font-size: min(8rem, 40px);
    }
}