.slide-in-left {
    animation: 0.9s ease 0.3s forwards slide-in-left;
    transform: translateX(-100vw);
}

.slide-in-top {
    animation: 0.4s ease 0.3s forwards slide-in-top;
    transform: translateY(-110%);
    z-index: -1000;
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-100vw);
    }

    70% {
        transform: translateX(8%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes slide-in-top {
    to {
        transform: translateY(0%);
        z-index: 0;
    }
}