#footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 2em;
    border-top: 3px solid var(--i);
    font-family: "Comme";
    color: var(--c);
    font-size: 1.3em;
}

#footer > div {
    flex-grow: 1;
    text-align: center;
    display: flex;
}

#footer > div > * {
    padding: 0px 0.2em;
    width: 100%;
}

#footer > div:not(:last-child)::after {
    content: "";
    border: 1px solid var(--a);
}