#footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    border-top: 3px solid var(--i);
    font-family: "Comme";
    color: var(--c);
    font-size: 1.2em;
}

#footer > div {
    flex-grow: 1;
    text-align: center;
    display: flex;
}

#footer > div > * {
    padding: 0px 5px;
    width: 100%;
}

#footer > div:not(:last-child)::after {
    content: "";
    border: 1px solid var(--a);
}

@media (max-width: 900px) {
    #footer {
        font-size: 1.8em;
    }
}