#content {
    margin: 5rem 5rem 6rem 5rem;
}

.question {
    width: 60%;
    margin: 4rem 0px;
    font-size: 15px;
}

.q-title {
    width: fit-content;
    font-family: "Comme";
    font-size: 2.5em;
    color: var(--c);

    /* Safari doesn't support the text-decoration shorthand */
    text-decoration-line: underline;
    text-decoration-color: var(--e);
    text-decoration-thickness: 4px;
    text-underline-offset: 4px;
    transition: transform ease 0.3s;
}

.h.q-title:hover,
.h.q-title:focus,
.h.q-title:active {
    transform: skewX(-10deg) translateX(3%);
    cursor: pointer;
}

.q-text {
    font-family: "Nunito";
    font-size: 1.2em;
    color: var(--k);
    margin-left: 2em;
    margin-top: -0.8em;
}

#banner {
    width: 100%;
    height: auto;
    filter: drop-shadow(0px 2px 4px #00000075);
    position: relative;
}

@media (max-width: 900px) {
    .question {
        font-size: 11px;
        width: 80%;
    }
}


.type > h4 {
    font-family: "Poppins";
    font-size: 1.8em;
    font-weight: 400;
    margin-bottom: 0px;
}

.type > p {
    font-family: "Nunito";
    font-size: 1.1em;
    margin-bottom: 2em;
}

.list {
    font-family: "Nunito";
    margin-bottom: 2em;
}

.list > h6 {
    font-size: 1.5em;
    margin-top: 0px;
    margin-bottom: 0px;
}